.clock {
    width: 500px;
    background-repeat: false;
    text-align: center;
    position: absolute;
    border: 1px solid black;
  }
  
  #clockToronto {
    background-color: yellow;
  }
  
  #clockBurlington {
    background-color: orange;
  }